.navbar {
    font-style: italic;
    font-size: 50px;
    color: #faf8ea;
    margin: 25px;
    margin-top: 20px;
    padding: 25px;
    background-color: #0a549c;
    text-decoration: none;
    font-family: 'Oswald';
}

.nav-link {
    font-size: 20px;
    font-style: normal;
    padding-right: 80px;
    float: right;
    margin: 10px;
    margin-top: 30px;
    color: #faf8ea;
    text-decoration: none;
    font-family: 'Oswald';
}
  
body, html {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    color: #fdaadd;
}

body {
    background:#faf8ea;
}

.main-photo {
    width: 300px;
    position: absolute;
    top: 70%;
    left: 2%;
}